/* Step 1: Animation define karein (Glow effect) */
.glow-box {
  width: 200px;
  height: 80px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: bold;
  font-family: sans-serif;
  position: relative;
  animation-name: pulse;
  animation-duration: 2s;
  /* animation-delay: 2s; */
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
@keyframes pulse {
  0% {
    top: 0;
    left: 0;
    background-color: #2563eb; /* Royal Blue */
    /* animation-play-state: running; */
  }
  25% {
    top: 0;
    left: 300px;
    background-color: #ffaa44; /* Soft Orange */
    animation-play-state: running;
  }
  50% {
    top: 300px;
    left: 300px;
    background-color: #2563eb; /* Wapas Royal Blue */
    animation-play-state: running;
  }
  75% {
    top: 300px;
    left: 0;
    background-color: #2563eb; /* Wapas Royal Blue */
    animation-play-state: running;
  }
  100% {
    top: 0;
    left: 0;
    background-color: #2563eb; /* Wapas Royal Blue */
    animation-play-state: running;
  }
}
