/* Step 1: Animation define karein (Glow effect) */
.glow-box {
  width: 200px;
  height: 80px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: bold;
  font-family: sans-serif;
  position: relative;
  animation-name: pulse;
  animation-duration: 2s;
  /* animation-delay: 2s; */
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: ease; /* dheere shuru, beech mein fast, dheere khatam */
  animation-timing-function: linear; /* same speed throughout */
  animation-timing-function: ease-in; /* dheere shuru, fast khatam */
  animation-timing-function: ease-out; /* fast shuru, dheere khatam */
  animation-timing-function: ease-in-out; /* dono taraf dheera */
  animation-delay: 2s; /* 2 second baad shuru hogi */
  animation-delay: 0s; /* foran shuru (default) */
  animation-iteration-count: 1; /* sirf ek baar */
  animation-iteration-count: 3; /* teen baar */
  animation-iteration-count: infinite; /* hamesha chalti rahe */
  animation-direction: normal; /* 0% → 100% (forward) */
  animation-direction: reverse; /* 100% → 0% (ulta) */
  animation-direction: alternate; /* forward phir backward */
  animation-direction: alternate-reverse; /* backward phir forward */
  animation-fill-mode: none; /* animation end pe wapas original */
  animation-fill-mode: forwards; /* animation end pe wahan ruk jao */
  animation-fill-mode: backwards; /* delay mein bhi from state mein raho */
  animation-fill-mode: both; /* forwards + backwards dono */
}
@keyframes pulse {
  0% {
    top: 0;
    left: 0;
    background-color: #2563eb; /* Royal Blue */
    /* animation-play-state: running; */
  }
  25% {
    top: 0;
    left: 300px;
    background-color: #ffaa44; /* Soft Orange */
    animation-play-state: running;
  }
  50% {
    top: 300px;
    left: 300px;
    background-color: #2563eb; /* Wapas Royal Blue */
    animation-play-state: running;
  }
  75% {
    top: 300px;
    left: 0;
    background-color: #2563eb; /* Wapas Royal Blue */
    animation-play-state: running;
  }
  100% {
    top: 0;
    left: 0;
    background-color: #2563eb; /* Wapas Royal Blue */
    animation-play-state: running;
  }
}
