* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* @import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Momo+Trust+Sans:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"); */

/* h1 {
  margin: 30px 20px;
  font-family: "Exo 2", sans-serif;
  font-family: "Nabeel";
}
@font-face {
  font-family: "Nabeel";
  src: url(./font/MomoTrustSans-VariableFont_wght.ttf);
}
p {
  font-family: "Nabeel";
  margin: 30px 20px;
} */
/* h1 {
  margin: 30px 20px;
  font-size: 30px;
  font-weight: 900;
}
p {
  margin: 30px 20px;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-indent: 250px;
  text-decoration: underline;
  text-align: center;
} */

h1 {
  margin: 30px 20px;
  letter-spacing: 5px;
  word-spacing: 4px;
  text-shadow: 10px 10px 10px red;
}

p {
  margin: 30px 20px;
  line-height: 70px;
  letter-spacing: 10px;
  word-spacing: 4px;
}
h1::first-letter {
  color: rgb(8, 0, 255);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 70px;
}
p::first-line {
  background-color: aqua;
  font-size: 20px;
}
