* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}
.Parent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#btn {
  min-width: 30%;
  height: 59px;
  background: black;
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3.6px;
  /* text-transform: capitalize; */
  border-radius: 11px;
  padding: 12px 24px;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.14);
  backdrop-filter: blur(5px);
  /* transition: all 0.25s ease; */
  cursor: pointer;
  display: inline-flex;
  /* user-select: auto; */
  position: relative;
  /* overflow: hidden; */
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
}
#btn:hover {
  transform: scale(0.9);
  transform: rotate(45deg);
  transform: translatey(20px);
  min-width: 300px;
}
